<ion-header>
  <ion-navbar>
    <ion-title>My To Do's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>To Do List</h1>
  <button ion-button (click)="addToDo()">
    <ion-icon name="add" class="newButton"></ion-icon>New To Do
  </button>
  <div *ngIf="toDoLength"  class="toDoCount">{{ toDoLength }}</div>
  <ion-list inset>
    <ion-item-sliding *ngFor="let toDo of toDos | async">
      <ion-item>
          <ion-checkbox type="checkbox" [(ngModel)]="toDo.done" (click)="updateStatus(toDo.$key, toDo.done)"></ion-checkbox>
          <ion-label *ngIf="toDo.done == false" class="toDoUnChecked">{{toDo.title}}</ion-label>
          <ion-label *ngIf="toDo.done == true" class="toDoChecked">{{toDo.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="updateToDo(toDo.$key, toDo.title)">
        <ion-icon name="build" ></ion-icon>
        Edit</button>
        <button ion-button color="danger" (click)="removeToDo(toDo.$key)">
        <ion-icon name="trash"></ion-icon>
        Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
